platforms/android/CordovaLib/bin/
platforms/android/CordovaLib/gen/
platforms/android/assets/www/js/sip.js/
platforms/android/assets/www/phonertc.js
platforms/android/assets/www/plugins/
platforms/android/bin/
platforms/android/gen/
